@model IEnumerable<Reservation>

<h2>Welcome to Ixpedia</h2>

<!-- Link to go to InsertProduct views page-->
<div style="display:block">
    <a href="/Reservation/InsertReservation/"> Create a Reservation</a>
   

    <a href="/Reservation/GetallReservations/"> View all Reservations</a>
 
</div>



